/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


body {
    margin: 0;
}

nav {
    text-align: center;
}

#diva {
    margin-right: 15px;
}

#iconspoti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}
#iconspoti{
    object-fit: contain;
}

img {
    width: 150px;

}

#imger {
    height: 107px;
}

.spsp {}

a {
    text-decoration: none;
    color: #1A1A1A;
    margin-left: 15px;
    font-size: 16px;
}

h2 {
    font-size: 70px;
    font-weight: bold;
}

.infosp {
    font-size: 30px;
    margin: 0;
}

h2,
.infosp {
    color: #FFF;


}

#bckgimg {
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.de {
    color: #1A1A1A;
    text-align: center;

    font-size: 35px;
}

.de1 {
    color: #00B172;
    font-weight: bold;
    font-size: 30px;
}

.de2 {
    text-align: center;
    color: black;
}

.lso {
    display: flex;
    flex-direction: column;

    margin: 10px;

    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 33%;
}

#mefd {
    display: flex;


}

.fred {
    font-size: 25px;

}

.frede {
    padding-top: 15px;
}

#ultisection {
    background-color: #00B172;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    color: #FFF;
}

#logospotify {
    position: absolute;
}

.imagend {
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.yeezy {
    font-size: 30px;
    width: 438px;
    border-bottom: solid 3px white;
    padding: 0;
    margin: 0;
}

.yeezy h3 {
    margin: 10px;
}

.h45f {
    font-size: 25px;
}
@media (min-width:481px)and (max-width:1000px){
    nav {
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    .infosp{
        text-align: center;
        font-size: 28px;
        padding: 10px;
    }
    .megerffr{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .yeezy{
        width: auto;
    }
    #spotiapp{
     
        display: none;
    }
    .infosp1{
        text-align: center;
        font-size: 70px;
        padding: 10px;
    }
    #ultisection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .textIm {
        text-align: center;
    }
    #logospotify {
        text-align: center;
        position: relative;
    }
    .yeezy h3{
        width: 100%;
        text-align: center;
    }
    .imagend {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }
    #spotiapp {
        text-align: center;
    }
}
@media (max-width:480px) {
    body{
        margin: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .yeezy h3{
        font-size: 20px;
    }
    #spotiapp{
        text-align: center;
    }
    #logospotify{
        position: relative;
    }
    #logospotify{
        text-align: center;
    }
    .textIm{
        text-align: center;
        
    }
    .imagend{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }
    .de2{
        font-size: 40px;
    }
    .infosp{
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
    .infosp1{
        text-align: center;
        font-size: 40px;
        padding: 10px;
    }
    #mefd{
        display: grid;
    }
    .lso{
        width: 100%;
    }
    .imger{
        width: 100px;
    }

    #bckgimg {
        margin-top: 10px;
    }

    
.fred{
    font-size: 16px;
}
   

    #ultisection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


